body {
    margin: 0;
    background-color: #040223;
    overflow-y: hidden;
    overflow-x: hidden;
}

header {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    height: 10rem;
    color: white;
}

.main-section {
    max-height: calc(100vh - 10rem);
}

.canvas-container {
    position: relative;
    height: calc(100vh - 16rem);
    min-height: 10rem;
    width: 100%;
    margin: 0;
    border: 0;
    overflow: hidden;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
    height: 4rem;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.open-gallery-button {
    height: 3rem;
    line-height: 3rem;
    font-family: 'Courier New', Courier, monospace;
    color: #f1f902;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: transparent;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 2px solid #f1f902;
    box-shadow: rgba(241, 249, 4, 0.16) 0px 8px 28px, rgba(241, 249, 4, 0.23) 0px 8px 28px;
}

.loader-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pause-mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.popup-container {
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #3a5068;
}

.popup {
    position: fixed;
    background-color: white;
    border-radius: 6px;
    padding: 6px;
}

.popup-title {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.popup-image {
    width: 100%;
    height: auto;
    max-width: 18rem;
}

.close-icon {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer;
}